img {
    max-width: 100%;
}

* {
    box-sizing: border-box;
}

body {
  /* background-color: rgb(239, 236, 233); */
  background-color: #ede5e8;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 10px;
    color:#570c04;
}

hr {
  color:#570c04;
  border: .5px;
    border-style:solid;
    margin:1px;
}

p {
    font-size: 14px;
    font-family:Arial, sans-serif;
    max-width: 900px;
}

.border {
    font-size: 18px;
    padding: 15px;
    margin: 20px 475px;
    border: double #37160b;
    border-radius: 6px;
}

h1 {
    font-size: 30px;
    margin:5px 0px;
    color:#570429;;
    /* font-family: "Cormorant Garamond", serif; */
    font-family:Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
}

h2 {
    font-weight:lighter;
    font-family:Times, 'Times New Roman', serif;
    margin: 5px 0px;
    font-family:serif;
    font-weight: 400;
    font-style: normal;
  }

  h3 {
    font-size: 18px;
    margin:5px 0px;
    color:#570c04;;
    /* font-family: "Cormorant Garamond", serif; */
    font-family:Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    font-size: 14px;
    color:#570c04;
}

a:hover {
    font-size: 14px;
    color:#cd2862;
}

li {
    font-size: 14px;
    font-family: sans-serif;
    max-width: 900px;
}

ol {
    list-style-position: inside;
    padding-left: 0;
  }

blockquote {
    font-size: 14px;
    font-family: sans-serif;
    padding-left: 10px;
    border-left: #570c04 1.5px solid;
    margin: 10px 0px;
}

.ascii-art {
        font-family:monospace;
        white-space:pre;
        text-align:left;
        margin:0 auto;
    }

details {
    cursor:help;
    text-align: left;
    font-size: 18px;
    margin: 5px 475px;
  }

  details > summary {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
  }

  .main-container {
    padding: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .sidebar {
    width: 20%;
    display:flex;
    flex-direction: column;
    position: fixed;
  }

  .main-page {
    width:70%;
    display:flex;
    flex-direction: column;
    position: absolute;
    left:350px;
  }

  .journal {
    display: flex;
    flex-direction: row;
    gap:15px;
  }

.left {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .right {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  .cormorant-garamond-light {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .cormorant-garamond-regular {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .cormorant-garamond-medium {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .cormorant-garamond-semibold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .cormorant-garamond-bold {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .cormorant-garamond-light-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .cormorant-garamond-regular-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .cormorant-garamond-medium-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .cormorant-garamond-semibold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .cormorant-garamond-bold-italic {
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  
  