* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    padding: 10px 30px 0px 30px;
    background: black;
    text-align: center;

}

a {
    font-family: Helvetica;
    font-size: 16px;
    text-decoration: none;
    color: #aaaaaa;
}

a:hover {
    text-decoration: none;
    color: #505050;
}

.container {
    height:90vh;
    width:100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.row {
    display: flex;
    height: 100%;
    flex-direction: row;
    gap: 8px;
}

.bulb {
    background: rgb(29, 29, 29);
    width:100%;
    border-radius: 50%;
}

.bulb:hover {
    background: rgb(0, 0, 0);
    width:100%;
    border-radius: 50%;
    animation: bye 1s forwards;
}

.lit {
    width:100%;
    border-radius: 50%;
    animation: flicker .5s forwards;
}

.lit-1 {
    width:100%;
    border-radius: 50%;
    animation: flicker-2 .5s 1s forwards;
}

.lit-2 {
    width:100%;
    border-radius: 50%;
    animation: flicker .5s 1.5s forwards;
}

.lit-3 {
    width:100%;
    border-radius: 50%;
    animation: flicker .5s 2s forwards;
}

.lit-4 {
    width:100%;
    border-radius: 50%;
    animation: flicker .5s 2.5s forwards;
}

.lit-5 {
    width:100%;
    border-radius: 50%;
    animation: flicker .5s 3.5s forwards;
}

.lit-6 {
    width:100%;
    border-radius: 50%;
    animation: flicker .5s 4s forwards;
}

.lit-7 {
    width:100%;
    border-radius: 50%;
    animation: flicker .5s 4.5s forwards;
}

.lit-8 {
    width:100%;
    border-radius: 50%;
    animation: flicker-2 .5s 5s forwards;
}

.lit-9 {
    width:100%;
    border-radius: 50%;
    animation: flicker .5s 5.5s forwards;
}

.lit-10 {
    width:100%;
    border-radius: 50%;
    animation: flicker-2 .5s 6s forwards;
}

@keyframes flicker {
    0% {
        background: rgb(43, 43, 43);
       }
    100% {
        background: rgb(255, 231, 163);
    }
   }

   @keyframes flicker-2 {
    0% {
        background: rgb(43, 43, 43);
       }
    15% {
        background: rgb(255, 231, 163);
    }
    30% {
        background: rgb(43, 43, 43);
       }
    85% {
        background: rgb(255, 231, 163);
    }
    99% {
        background: rgb(43, 43, 43);
       }
    100% {
        background: rgb(255, 231, 163);
    }
   }

   @keyframes bye {
    0% {
        background: rgb(43, 43, 43);
       }
    100% {
        background: rgb(0, 0, 0);
    }
   }