* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0px;
}

p {
    font-size: 130%;
    color: white;
}

.container {
    background: rgb(215, 210, 209);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    position: relative;
    overflow: hidden;
}

.lower {
    background: rgb(160, 151, 151);
    height: 100vh;
    flex-direction: column;
}

.circle {
background: rgb(0, 0, 0);
width:15vw;
height:15vw;
border-radius: 50%;
/* animation-name:pulse;
animation-duration:4s;
animation-delay: 2s;
animation-iteration-count:infinite;
animation-direction: alternate;
animation-timing-function:ease-in-out;
animation-fill-mode:both; */
animation: pulse 4s infinite alternate ease-in-out both;
}

@keyframes pulse {
    0% {
        background:rgb(0, 0, 0);
        transform:scale(1);
        filter:blur(0px)
    }
    100% {
        background: rgb(255, 255, 255);
        transform:scale(1.5);
        filter:blur(10px)
    }
}

@keyframes hayyy {
 0% {
    transform: rotate(0);
    }
 100% {
    transform: rotate(360deg);
    }
}

.square {
    background:rgb(83, 83, 83);
    width:15vw;
    height:15vw;
    animation: hayyy 4s infinite linear;
}

.mover {
    background: ghostwhite;
    width:100px;
    height: 25px;
    position: absolute;
    left:0px;
    bottom:0px;
    animation: move 4s infinite linear;
}

@keyframes move {
    0% {
        transform: rotate(0);
        left:-110px;
    }
    45% {
        transform:rotate(0);
    }
    50% {
        transform:rotate(180deg);
    }
    100% {
        transform: rotate(180deg);
        left:100vw;
    }
}

.changer {
    background: lightblue;
    width: 15vw;
    height: 15vw;
    transition: background 2s, border-radius 2s, transform 2s ;
}

.changer:hover {
    background: rgb(238, 246, 249);
    width: 15vw;
    height: 15vw;
    border-radius: 100%;
    transform: rotate(200deg);
}

.trigger {
    position:relative;
}

.secret {
    background: rgb(255, 226, 230);
    padding: 10px;
    color: rgb(111, 103, 103);
    position: absolute;
    width:100px;
    left:-30px;
    top:-50px;
    display:none;
}


.trigger:hover {
    color:rgb(255, 226, 230);
    cursor:crosshair;
    animation: blur 4s;

}

.trigger:hover .secret {
    display:inline;
}

@keyframes blur {
    0% {
       filter: blur(0);
       }
    100% {
        filter: blur(5px);
        }
   }